ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: flex;
  align-items: center;
  color: var(--text-inactive-color);
  border: none;
  text-decoration: none;
  cursor: pointer;

  svg {
    margin-right: 8px;
    fill: var(--text-inactive-color);
  }
}

.button {
  display: flex;
  padding: 0;
  align-items: center;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: var(--text-inactive-color);
  background: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;

  svg {
    margin-right: 8px;
    fill: var(--text-inactive-color);
  }
}

.link_state_current {
  color: var(--text-primary-color);

  svg {
    fill: var(--text-primary-color);
  }
}

@media only screen and (max-width: 767px) {
  .sidebar {
    max-width: 100%;
  }
}
