.order {
  max-width: 640px;
  margin: auto;
  text-align: left;
}

.item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 40px;
  width: 100%;
  min-width: 606px;
  cursor: pointer;
  border-radius: 40px;

  .link {
    color: var(--text-primary-color);
    text-decoration: none;
  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.done {
  color: var(--colors-interface-success);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  transform: translate(-50%, -50%);
}

.img_wrapper {
  position: relative;
  width: 64px;
  height: 64px;
  background: linear-gradient(var(--background-alt), var(--background-alt))
      padding-box,
    linear-gradient(to right, #801ab2, var(--colors-interface-accent))
      border-box;
  border-radius: 50%;
  border: 2px solid transparent;
  margin-right: 16px;
}

svg {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: bottom;
}

.name {
  max-width: 320px;
}

.price {
  margin-left: auto;

  svg {
    margin-left: 9px;
  }
}

.column_inner {
  max-height: 320px;
  overflow-y: auto;

  ul {
    padding: 0 24px 0 0;
    margin: 0;
  }
}

@media (maz-width: 640px) {
  .item {
    min-width: auto;
  }
}
