.product_list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  align-items: flex-start;
  gap: 16px;
}

.price {
  color: var(--text-primary-color);
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 16px;
  max-height: 464px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 96px auto;
}

.item {
  position: relative;
  padding-left: 32px;
  margin-right: 8px;

  &:first-of-type {
    position: absolute;
    top: 100px;
  }

  &:last-of-type {
    position: absolute;
    bottom: 40px;
  }

  & > svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-12px);
  }

  & > div {
    background-color: var(--background);
  }
}
