.product_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
}

.price {
  color: var(--text-color);
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 16px;
  max-height: 464px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  position: relative;
  padding-left: 32px;
  margin-right: 8px;

  & > svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-12px);
  }
}
