.title {
  width: 100%;
  text-align: left;
}

.ingredient_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 8px 0 16px;
  margin: 0;
}

@media (max-width: 640px) {
  .title {
    margin-bottom: 16px;
  }

  .ingredient_list {
    justify-content: center;
    padding: 0;
  }
}
