.page_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  max-width: 1240px;
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  flex: 0 1 844px;
  width: 50%;
  max-width: 844px;
  box-sizing: border-box;
}

.column_inner {
  max-height: calc(100vh - 188px);
  overflow-y: auto;

  ul {
    padding: 0 8px 0 0;
    margin: 0;
  }
}

.button_row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}

.order_item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  cursor: pointer;
  background: var(--background);
  border-radius: 40px;
  transition: background-color 0.2s ease;
  z-index: 1;

  &:hover {
    background-color: var(--background-element);
  }

  .link {
    color: var(--text-primary-color);
    text-decoration: none;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  flex: 0 1 320px;
  width: 50%;
  max-width: 320px;
  box-sizing: border-box;
  text-align: left;

  a,
  button {
    padding: 17px 0;
  }

  button {
    font-family: "Jet Brains Mono";
    font-weight: bold;
    font-size: 24px;
    line-height: 1.25;
  }

  p {
    opacity: 0.4;
  }
}

@media (min-width: 641px) {
  .form {
    .input_size_default {
      width: 480px;
    }
  }
}

@media (max-width: 640px) {
  .page_container {
    padding: 16px 8px;
  }

  .column {
    max-width: 100%;
  }

  .column_inner {
    max-height: initial;

    ul {
      padding: 0;
    }
  }

  .button_row {
    width: 100%;
  }
}
