.ingredient_item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  max-width: 272px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: var(--background-color);
  }

  button {
    font-family: Jet Brains Mono;
  }
}

.ingredient_price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  svg {
    margin-left: 9px;
  }
}

.link {
  color: var(--text-primary-color);
  text-decoration: none;

  & > div:first-child {
    height: 24px;
    padding: 0 4px;
    font-size: 22px;
    line-height: 24px;
  }
}

.ingredient_name {
  height: 48px;
  overflow: hidden;
}

.ingredient_image {
  max-width: 240px;
  margin: auto;
}

.drag_effect {
  opacity: 0.5;
}

@media (max-width: 640px) {
  .ingredient_image {
    max-width: 144px;
  }

  .ingredient_name {
    height: 60px;
  }

  .ingredient_price {
    margin-bottom: 8px;

    svg {
      width: 22px;
      height: 22px;
    }
  }
}
