@import-normalize;

:root {
  --shadow-color: rgba(0, 0, 0, 0.04);
  --box-shadow: 0px 24px 32px var(--shadow-color),
    0px 16px 24px var(--shadow-color), 0px 4px 8px var(--shadow-color),
    0px 0px 1px var(--shadow-color);
}
.app {
  text-align: center;
  background: var(--background-color);
  overflow: hidden;
}

.page_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1240px;
  min-height: calc(100vh - 88px);
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  flex: 0 1 600px;
  max-width: 50%;
  min-width: 600px;
  min-height: 400px;
  box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 640px) {
  .column {
    max-width: 100%;
  }

  .page-container {
    max-height: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  position: absolute;
  background: #2f2f37;
}

::-webkit-scrollbar-thumb {
  background: var(--text-inactive-color);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
