h2 {
  width: 100%;
  text-align: left;
}

.status {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.status_column {
  flex-basis: 272px;
}

.status_column_inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 330px;
  width: 100%;
  padding: 0;

  li {
    list-style-type: none;
  }
}

.number {
  color: var(--colors-interface-success);
}

@media only screen and (max-width: 767px) {
  .orders_list {
    justify-content: center;
    padding: 0 16px;
  }

  .status {
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .status_column {
    flex-basis: 140px;
  }

  .status_column_inner {
    margin-top: 16px;
  }

  .number {
    margin-bottom: 4px;
  }
}
