.page_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1240px;
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  flex: 0 1 480px;
  width: 50%;
  max-width: 480px;
  box-sizing: border-box;
  text-align: center;
}

.title {
  text-align: center;
}

.link {
  padding: 16px 0;
  color: var(--text-inactive-color);
  border: none;
  text-decoration: none;
  cursor: pointer;
}
