h1 {
  text-align: left;
}

.column_inner {
  max-height: calc(100vh - 344px);
  overflow-y: auto;
}

.tabs {
  display: flex;

  & > div {
    width: 33%;
    box-sizing: border-box;
  }
}

@media (max-width: 640px) {
  h1 {
    text-align: center;
  }

  .column_inner {
    max-height: none;
    padding: 0 8px;
    margin-top: 20px;
  }

  .tabs > div {
    min-width: 106px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}
